* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-15);
  color: var(--white);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: var(--bg-20);
  border-right: 1px solid var(--bg-50);
  position: relative;
}

.back-btn {
  position: absolute;
  left: 20px;
  top: 20px;
}

.btn-back {
  padding: 8px;
}

#signupForm {
  width: 80%;
  max-width: 800px;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  color: var(--gray);
  margin-bottom: 32px;
  font-size: 15px;
}

.subtitle a {
  color: var(--gray);
  text-decoration: none;
  transition: color 0.1s;
}

.subtitle a:hover {
  color: var(--white);
  text-decoration: underline;
}

.form-group {
  margin-bottom: 20px;
}

.row-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.altert-text {
  font-size: 12px;
  font-weight: 600;
  color: var(--red-light);
}

.row-label {
  display: flex;
  align-items: center;
  gap: 6px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
}

#tooltipUsername,
.tooltipPassword {
  fill: var(--gray);
  transition: all 0.2s ease;
  cursor: pointer;
}

#tooltipUsername:hover,
.tooltipPassword:hover {
  fill: var(--white);
  cursor: pointer;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip-content {
  visibility: hidden;
  width: 220px;
  background: var(--bg-30);
  color: var(--gray-light);
  text-align: left;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 1.4;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: -8px;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  white-space: normal;
}

.tooltip-wrapper:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.tooltip-content::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 10px;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: var(--bg-30) transparent transparent transparent;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 44px;
}

.password-wrapper svg {
  fill: var(--gray-light);
}

.toggle-repeat-password,
.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  padding: 0;
}

.toggle-repeat-password:hover,
.toggle-password:hover {
  background: rgba(255, 255, 255, 0.05);
}

.toggle-repeat-password:focus,
.toggle-password:focus {
  outline: none;
}

input {
  width: 100%;
  padding: 12px 16px;
  background: rgba(30, 30, 30, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  caret-color: var(--white);
  border-radius: 8px;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  outline: none;
}

input::placeholder {
  color: var(--gray);
}

input:hover {
  border-color: var(--green);
}

input:focus {
  border-color: var(--green);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--white);
  transition: background-color 5000s ease-in-out 0s;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.btn-send {
  width: 100%;
  padding: 10px;
}

.terms {
  text-align: center;
  font-size: 13px;
  color: var(--gray);
  margin-top: 20px;
}

.terms a {
  color: var(--gray);
  text-decoration: underline;
  transition: color 0.3s;
}

.terms a:hover {
  color: var(--white);
}

.preview-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: var(--bg-20);
  position: relative;
  overflow: hidden;
}

.baground-motif {
  position: absolute;
  bottom: -300px;
  height: 50%;
  transform: scale(2.5);
  z-index: 1;
}

.user-card-main {
  background: rgba(40, 40, 40, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 90%;
  max-height: 600px;
  max-width: 420px;
  z-index: 2;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(40, 40, 40, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 48px 40px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.wrapper-chard {
  margin: 0 auto 24px;
  position: relative;
}

.rope-hanger {
  background: rgba(148, 148, 148, 0.2);
  border: 1px solid rgba(102, 102, 102, 0.6);
  border-radius: 6px;
  height: 100vh;
  width: 45px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
}

.hole-chard {
  width: 50px;
  height: 10px;
  border-radius: 10px;
}

.avatar-upload {
  width: 120px;
  height: 120px;
  margin: 0 auto 24px;
  position: relative;
  cursor: pointer;
}

.avatar-placeholder {
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.6);
  border: 1px dashed rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.avatar-upload:hover .avatar-placeholder {
  border-color: rgba(255, 255, 255, 0.4);
  background: rgba(50, 50, 50, 0.6);
}

.plus-icon {
  font-size: 32px;
  color: var(--gray);
  margin-bottom: 4px;
}

.avatar-text {
  font-size: 10px;
  color: var(--gray);
}

.avatar-size {
  font-size: 10px;
  color: var(--gray)
}

.user-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--gray);
}

.user-dots {
  color: var(--bg-30);
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 20px;
  margin-bottom: 32px;
}

.user-id-container {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 16px;
}

.barcode {
  height: 30px;
  margin-bottom: 12px;
  box-shadow: 0 0 8px rgba(5, 187, 102, 0.2);
  background: repeating-linear-gradient(
    90deg,
    #0bbb80,
    #0ec25f 2px,
    transparent 2px,
    transparent 4px,
    #0bbb80 4px,
    #0ec25f 6px,
    transparent 6px,
    transparent 10px,
    #0bbb95 10px,
    #0ec25f 11px,
    transparent 11px,
    transparent 13px
  );
  opacity: 0.6;
}

.user-id {
  font-family: "Courier New", monospace;
  font-size: 10px;
  color: var(--gray);
  letter-spacing: 1px;
}

.container-warapper-footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--gray);
  display: flex;
  gap: 6px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke-width: 4px;
  stroke: var(--gray);
}

.wrapper-support {
  display: flex;
  gap: 8px;
  font-size: 14px;
}

.wrapper-support a {
  text-decoration: none;
  color: var(--gray);
}

.wrapper-support a:hover span {
  color: var(--green);
  text-decoration: underline;
}

.title-confirm {
  color: var(--green);
}

#loginRedirectBtn {
  padding: 12px 24px;
  width: 100%;
}